<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrap">
    <div class="form-wrap" align="center">
        <h1>소실대학교 로그인</h1>
        <br>
        <form action="/login" method="post">
            <input type="text" name="studentNumber" class="input-field" placeholder="학번" required><br>
            <input type="password" name="password" class="input-field" placeholder="비밀번호" required><br>
            <br>
            <input type="submit" value="로그인" class="submit"><br>
            <input type="reset" value="초기화" class="submit">
        </form>
    </div>
</div>

</body>
</html>