<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        .title {
            display: inline-block;
            width: 70px;
        }
    </style>
</head>
<body>
<h1>소실대학교 로그인</h1>
<form action="/login" method="post">
    <span class="title">학번: </span>
    <input type="text" name="studentNumber" required><br>
    <span class="title">비밀번호: </span>
    <input type="password" name="password" required><br>
    <input type="submit" value="로그인">
    <input type="reset" value="초기화">
</form>

</body>
</html>